<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Lego Collection</title>
  </head>
  <body>
    <%- include('partials/navbar') %>

    <div class="container mx-auto">
      <div
        class="hero rounded hero-lg bg-base-200 bg-cover bg-center"
        style="background-image: url(/images/944250.jpg)"
      >
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content m-6">
          <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">
              Discover the World of LEGO Sets
            </h1>
            <p class="mb-5">
              Welcome to our LEGO universe, where the only limit is your
              imagination! Dive into our vast collection of LEGO sets that cater
              to builders of all ages and skill levels.
            </p>

            <a class="btn btn-primary" href="/lego/sets">Discover our Sets!</a>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7 mt-8">
        <div class="card bg-base-100 shadow-xl rounded overflow-hidden">
          <figure>
            <img
              src="https://cdn.rebrickable.com/media/thumbs/sets/242214-1/134312.jpg/1000x800p.jpg?1721137602.6961424"
              alt="SpiderMan"
              class="w-full"
            />
          </figure>
          <div class="card-body flex flex-col justify-between">
            <h2 class="card-title">Spider-Man</h2>
            <p>Foil bag coming with LEGO Spider-Man Magazine no. 1, 2021</p>
            <div class="card-actions justify-end">
              <a class="btn btn-primary" href="/lego/sets/242214-1">Details</a>
            </div>
          </div>
        </div>
        <div class="card bg-base-100 shadow-xl rounded overflow-hidden">
          <figure>
            <img
              src="https://cdn.rebrickable.com/media/thumbs/sets/242216-1/134314.jpg/1000x800p.jpg?1721036298.5665202"
              alt="Carnage"
              class="w-full"
            />
          </figure>
          <div class="card-body flex flex-col justify-between">
            <h2 class="card-title">Carnage</h2>
            <p>Came with issue 2 of the LEGO Spiderman magazine.</p>
            <div class="card-actions justify-end">
              <a class="btn btn-primary" href="/lego/sets/242216-1">Details</a>
            </div>
          </div>
        </div>
        <div class="card bg-base-100 shadow-xl rounded overflow-hidden">
          <figure>
            <img
              src="https://cdn.rebrickable.com/media/thumbs/sets/242319-1/134319.jpg/1000x800p.jpg?1720722775.1855025"
              alt="Groot"
              class="w-full"
            />
          </figure>
          <div class="card-body flex flex-col justify-between">
            <h2 class="card-title">Groot</h2>
            <p>
              Attached to LEGO Marvel Avengers magazine (2023), nr. 3 (Dutch,
              EAN 8710823007569). French edition from September 2023.
            </p>
            <div class="card-actions justify-end">
              <a class="btn btn-primary" href="/lego/sets/242319-1">Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
